In [11]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [10]:
df = pd.read_csv('penguins_simple.csv', sep=';')

In [15]:
df

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie,39.1,18.7,181.0,3750.0,MALE
1,Adelie,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...
328,Gentoo,47.2,13.7,214.0,4925.0,FEMALE
329,Gentoo,46.8,14.3,215.0,4850.0,FEMALE
330,Gentoo,50.4,15.7,222.0,5750.0,MALE
331,Gentoo,45.2,14.8,212.0,5200.0,FEMALE
332,Gentoo,49.9,16.1,213.0,5400.0,MALE

In [22]:
df.iloc[3:10, 4] = np.NaN

In [23]:
imputer = SimpleImputer(strategy='most_frequent')

In [24]:
cols = df[['Body Mass (g)']]

In [25]:
# count the number of missing values
print(cols['Body Mass (g)'].isna().sum())

7

In [26]:
imputer.fit(cols)            # learn the most frequent value

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='most_frequent', verbose=0)

In [27]:
t = imputer.transform(cols)  # result is a numpy array

In [28]:
print(t.shape)
print()

(333, 1)

In [20]:
# format output as a DataFame
cols_imputed = pd.DataFrame(t, columns=cols.columns)
print(cols_imputed.head())
print()

   Body Mass (g)
0         3750.0
1         3800.0
2         3250.0
3         3450.0
4         3650.0