# Data Round-Trip

In [1]:
import pandas as pd

## CSV

Read the CSV file `large_countries_2015.csv`

In [6]:
df = pd.read_csv("large_countries_2015.csv")
df.head()

   Unnamed: 0    population  fertility      continent
0  Bangladesh  1.609956e+08       2.12           Asia
1      Brazil  2.078475e+08       1.78  South America
2       China  1.376049e+09       1.57           Asia
3       India  1.311051e+09       2.43           Asia
4   Indonesia  2.575638e+08       2.28           Asia

## Excel

* Write the data into an Excel file
* Read the data again

In [7]:
df_exc= df.to_excel("large_countries_2015.xlsx")
df1 = pd.read_excel("large_countries_2015.xlsx")

## JSON - Java Script Object Notation

* Write the data into a JSON file
* Read the data again

In [8]:
df_json= df.to_json("large_countries_2015.json")
df2 = pd.read_json("large_countries_2015.json")

## SQL

Install the library SQLAlchemy:

In [9]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/giudittaparolini/anaconda3/lib/python3.7/site-packages (1.3.21)

Create a connection to a new SQLite database:

In [10]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///mydatabase.db')

Write the data into the database:

In [11]:
df.to_sql('countries', db)

Check that a database file has been created in your current working directory:

In [12]:
!ls

Selecting_Rows_and_Columns.ipynb large_countries_2015.xlsx
Untitled.ipynb                   mydatabase.db
continents.csv                   pandas_exercises.ipynb
data_round_trip.ipynb            pandas_giuditta.ipynb
large_countries_2015.csv         penguins_simple_giuditta.csv
large_countries_2015.json

Inspect the file that was created in a text editor. Do not spend more than 1-2 minutes on this.

*Dont worry if this is completely new to you. We will cover SQL later in the course*