Fix five bugs

In [1]:
import pandas as pd

In [3]:
"""
spices = ['One-Hot Chili Peppers',
          'Bayesian Basil',
          'Tensor Thyme'
          'Linear Lavender',
          'Artificial Neural Nutmeg',
          'Polynomial Peppermint',
          'Sigmoid Saffron'
          ]
"""
spices = ['One-Hot Chili Peppers',
          'Bayesian Basil',
          'Tensor Thyme',
          'Linear Lavender',
          'Artificial Neural Nutmeg',
          'Polynomial Peppermint',
          'Sigmoid Saffron'
          ]

for spice in spices:
    print(spice)

One-Hot Chili Peppers
Bayesian Basil
Tensor Thyme
Linear Lavender
Artificial Neural Nutmeg
Polynomial Peppermint
Sigmoid Saffron

In [22]:
#participants = [2, 6, 9, 9, 9, 8]
participants_6 = [2, 6, 9, 9, 9, 8]
participants = participants_6 + [8]
print(participants)

[2, 6, 9, 9, 9, 8, 8]

In [25]:
df = pd.DataFrame({'name': spices,
                   'participants': participants
                   })
df.head(7)

                       name  participants
0     One-Hot Chili Peppers             2
1            Bayesian Basil             6
2              Tensor Thyme             9
3           Linear Lavender             9
4  Artificial Neural Nutmeg             9
5     Polynomial Peppermint             8
6           Sigmoid Saffron             8

In [28]:
#print(sort_values(by='participants', ascending=False))

sorted_participants = sorted(participants)
print(sorted_participants)

[2, 6, 8, 8, 9, 9, 9]

In [32]:
#print("\ntotal participants:", df.sum(['participants']))
part = df['participants']
num_part = part.sum()
print("total participants:", num_part)
#print("total participants:", df.sum(['participants']))

total participants: 51

In [ ]:
# 1. read the file into a DataFrame
df = ...

In [ ]:
# 2. display the number of rows and columns
...

In [ ]:
# 3. display the first 5 countries in the alphabet
...

In [ ]:
# 4. which continent has the most countries?
...

In [ ]:
# 5. find out on which continent Cyprus is
...

In [ ]:
# 6. define a DataFrame with all African countries
africa = ...

In [ ]:
# 7. define a DataFrame with countries 80 through 100
subset = ...

In [ ]:
# 8. select every second country
...