Fix five bugs

In [4]:
import pandas as pd

In [5]:
"""
spices = ['One-Hot Chili Peppers',
          'Bayesian Basil',
          'Tensor Thyme'
          'Linear Lavender',
          'Artificial Neural Nutmeg',
          'Polynomial Peppermint',
          'Sigmoid Saffron'
          ]
"""
spices = ['One-Hot Chili Peppers',
          'Bayesian Basil',
          'Tensor Thyme',
          'Linear Lavender',
          'Artificial Neural Nutmeg',
          'Polynomial Peppermint',
          'Sigmoid Saffron'
          ]

for spice in spices:
    print(spice)

One-Hot Chili Peppers
Bayesian Basil
Tensor Thyme
Linear Lavender
Artificial Neural Nutmeg
Polynomial Peppermint
Sigmoid Saffron

In [6]:
#participants = [2, 6, 9, 9, 9, 8]
participants_6 = [2, 6, 9, 9, 9, 8]
participants = participants_6 + [8]
print(participants)

[2, 6, 9, 9, 9, 8, 8]

In [7]:
df = pd.DataFrame({'name': spices,
                   'participants': participants
                   })
df.head(7)

                       name  participants
0     One-Hot Chili Peppers             2
1            Bayesian Basil             6
2              Tensor Thyme             9
3           Linear Lavender             9
4  Artificial Neural Nutmeg             9
5     Polynomial Peppermint             8
6           Sigmoid Saffron             8

In [8]:
#print(sort_values(by='participants', ascending=False))

sorted_participants = sorted(participants)
print(sorted_participants)

[2, 6, 8, 8, 9, 9, 9]

In [9]:
#print("\ntotal participants:", df.sum(['participants']))
part = df['participants']
num_part = part.sum()
print("total participants:", num_part)
#print("total participants:", df.sum(['participants']))

total participants: 51

In [68]:
# 1. read the file into a DataFrame
df = pd.read_csv("continents.csv",
                sep=";")
df.head()

  continent   country
0    Africa   Algeria
1    Africa    Angola
2    Africa     Benin
3    Africa  Botswana
4    Africa   Burkina

In [69]:
# 2. display the number of rows and columns
t = df.shape
print("df rows:", t[0])
print("df columns:", t[1])

df rows: 194
df columns: 2

In [70]:
# 3. display the first 5 countries in the alphabet
countries = df["country"]
print(countries.head())

0     Algeria
1      Angola
2       Benin
3    Botswana
4     Burkina
Name: country, dtype: object

In [71]:
# 4. which continent has the most countries?
nation_continent_counts = df.groupby("continent").count()
print(nation_continent_counts)
#print("The continent with the most countries is: ", nation_continent_counts.loc[0])

                       country
continent
Africa                      54
Asia                        44
Australia and Oceania       14
Europe                      47
North America               23
South America               12

In [74]:
# 5. find out on which continent Cyprus is
cyprus_cont = df[df["country"]=="Cyprus"]

print(cyprus_cont)

    continent country
108    Europe  Cyprus

In [77]:
# 6. define a DataFrame with all African countries
africa = df[df["continent"]=="Africa"]
print(africa)

   continent                        country
0     Africa                        Algeria
1     Africa                         Angola
2     Africa                          Benin
3     Africa                       Botswana
4     Africa                        Burkina
5     Africa                        Burundi
6     Africa                       Cameroon
7     Africa                     Cape Verde
8     Africa       Central African Republic
9     Africa                           Chad
10    Africa                        Comoros
11    Africa                          Congo
12    Africa  Congo, Democratic Republic of
13    Africa                       Djibouti
14    Africa                          Egypt
15    Africa              Equatorial Guinea
16    Africa                        Eritrea
17    Africa                       Ethiopia
18    Africa                          Gabon
19    Africa                         Gambia
20    Africa                          Ghana
21    Africa                         Guinea
22    Africa                  Guinea-Bissau
23    Africa                    Ivory Coast
24    Africa                          Kenya
25    Africa                        Lesotho
26    Africa                        Liberia
27    Africa                          Libya
28    Africa                     Madagascar
29    Africa                         Malawi
30    Africa                           Mali
31    Africa                     Mauritania
32    Africa                      Mauritius
33    Africa                        Morocco
34    Africa                     Mozambique
35    Africa                        Namibia
36    Africa                          Niger
37    Africa                        Nigeria
38    Africa                         Rwanda
39    Africa          Sao Tome and Principe
40    Africa                        Senegal
41    Africa                     Seychelles
42    Africa                   Sierra Leone
43    Africa                        Somalia
44    Africa                   South Africa
45    Africa                    South Sudan
46    Africa                          Sudan
47    Africa                      Swaziland
48    Africa                       Tanzania
49    Africa                           Togo
50    Africa                        Tunisia
51    Africa                         Uganda
52    Africa                         Zambia
53    Africa                       Zimbabwe

In [80]:
# 7. define a DataFrame with countries 80 through 100
subset = df.iloc[80:101]
print(subset)

    continent               country
80       Asia                 Nepal
81       Asia                  Oman
82       Asia              Pakistan
83       Asia           Philippines
84       Asia                 Qatar
85       Asia    Russian Federation
86       Asia          Saudi Arabia
87       Asia             Singapore
88       Asia             Sri Lanka
89       Asia                 Syria
90       Asia            Tajikistan
91       Asia              Thailand
92       Asia                Turkey
93       Asia          Turkmenistan
94       Asia  United Arab Emirates
95       Asia            Uzbekistan
96       Asia               Vietnam
97       Asia                 Yemen
98     Europe               Albania
99     Europe               Andorra
100    Europe               Armenia

In [85]:
# 8. select every second country
subset_odd = df.iloc[::2,:]
print(subset_odd)

         continent                   country
0           Africa                   Algeria
2           Africa                     Benin
4           Africa                   Burkina
6           Africa                  Cameroon
8           Africa  Central African Republic
..             ...                       ...
184  South America                    Brazil
186  South America                  Colombia
188  South America                    Guyana
190  South America                      Peru
192  South America                   Uruguay

[97 rows x 2 columns]