In [2]:
import pandas as pd
import numpy as np

# Machine Learning Workflow

Let's go through the (beginning of the) machine learning workflow using a familiar dataset.

![penguins](./penguins.png)

## The Workflow

![workflow](./ml_workflow.png)

## 1. Define Business Goal

**Penguins:**
> ...

**Titanic:**
> ...

## 2. Get Data

...

In [4]:
df = pd.read_csv('./data/penguins_simple.csv', sep=';')
df.head()

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie,39.1,18.7,181.0,3750.0,MALE
1,Adelie,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie,39.3,20.6,190.0,3650.0,MALE

In [5]:
df.shape

(333, 6)

## 3. Train-Test-Split

What is the purpose of splitting the data into training and test data?

In [ ]:
# Import train-test-split

In [ ]:
# Split the DataFrame into X and y

In the Titanic dataset your y is the column **Survived**

In [ ]:
# Use train_test_split on X and y

In case of the Titanic data, kaggle already provided split data. This means that you do not have to split the data again.

## 4. Explore Data

This is your task for the afternoon. You have learnt how to do that last week.

This is only done on the training data. In order to do this it makes sense to merge X_train and y_train into df_train.

## 5. Feature Engineering

The lecture on feature engineering is scheduled for wednesday morning.

## 6. Train Model

The lecture on the model itself is scheduled for tuesday morning.

## 7. Optimize / Cross-Validation
The lecture on cross validation is schedule for wednesday afternoon.

## 8. Calculate Test Score

You will see how to do this when talking about training the model.

## 9. Deploy the model

We will talk about model deployment towards the end of the bootcamp.