In [26]:
import requests
import time
#import schedule
import pandas as pd

In [27]:
cases = 'https://www.berlin.de/lageso/gesundheit/infektionsepidemiologie-infektionsschutz/corona/tabelle-indikatoren-gesamtuebersicht/index.php/index/all.json?q='
boroughs = 'https://www.berlin.de/lageso/gesundheit/infektionsepidemiologie-infektionsschutz/corona/tabelle-bezirke-gesamtuebersicht/index.php/index/all.json?q='
boroughs_gen = "https://www.berlin.de/lageso/gesundheit/infektionsepidemiologie-infektionsschutz/corona/tabelle-bezirke/index.php/index/all.json?q="
age_groups = 'https://www.berlin.de/lageso/gesundheit/infektionsepidemiologie-infektionsschutz/corona/tabelle-altersgruppen/index.php/index/all.json?q='
incidence = 'https://www.berlin.de/lageso/gesundheit/infektionsepidemiologie-infektionsschutz/corona/tabelle-altersgruppen-gesamtuebersicht/index.php/index/all.json?q='

In [30]:
def reading_task(api_request):
        response = requests.get(api_request)
        tab = pd.DataFrame(response.json()['index'])
        return tab

In [39]:
cases_data = reading_task(cases)
boroughs_data = reading_task (boroughs)
boroughs_gen_data = reading_task (boroughs_gen)
age_groups_data = reading_task (age_groups)
incidence_data = reading_task (incidence)

In [50]:
cases_dict = {"id":"id", "datum":"date","fallzahl":"cases", "neue_faelle":"new_cases", 
              "genesene":"recovered","todesfaelle":"deaths","7_tage_inzidenz":"7_days_incidence",
             "rel_veraenderung_der_7_tage_inzidenz":"rel_change_7_d_inc", 
              "its_belegung": "ICU occupancy", "4_tage_r_wert_berlin_rki":"4_days_r_value_rki"}

cases_data = cases_data.rename(columns=cases_dict)

In [79]:
cases_data[cases_data.eq().any(1)]

,id,date,cases,new_cases,recovered,deaths,7_days_incidence,rel_change_7_d_inc,ICU occupancy,4_days_r_value_rki
0,1201,2021-04-20,160479,759,146833,3163,152,17.9,26.3,0

In [69]:
cases_data.head()

,id,date,cases,new_cases,recovered,deaths,7_days_incidence,rel_change_7_d_inc,ICU occupancy,4_days_r_value_rki
0,1201,2021-04-20,160479,759,146833,3163,152,17.9,26.3,0
1,1198,2021-04-19,159720,463,145969,3153,152.4,31.4,26.2,0
2,1195,2021-04-18,159257,401,145262,3150,152.1,28.8,26.2,0
3,1192,2021-04-17,158856,548,144893,3151,155,26,26,0
4,1189,2021-04-16,158308,1288,144284,3147,159.6,55,26.1,0

In [74]:
cases_data.astype({'id': 'int64', 'cases':'int64','date':'datetime64','new_cases':'int64',
                   'recovered':'int64', 'deaths':'int64','7_days_incidence':'float64', 
                   'rel_change_7_d_inc':'float64', 'ICU occupancy':'float64',
                   '4_days_r_value_rki':'float64'}).dtypes

id                             int64
date                  datetime64[ns]
cases                          int64
new_cases                      int64
recovered                      int64
deaths                         int64
7_days_incidence             float64
rel_change_7_d_inc           float64
ICU occupancy                float64
4_days_r_value_rki           float64
dtype: object

In [65]:
cases_data.dtypes

id                    object
date                  object
cases                 object
new_cases             object
recovered             object
deaths                object
7_days_incidence      object
rel_change_7_d_inc    object
ICU occupancy         object
4_days_r_value_rki    object
dtype: object

In [63]:
cases_data.dtypes

id                    object
date                  object
cases                 object
new_cases             object
recovered             object
deaths                object
7_days_incidence      object
rel_change_7_d_inc    object
ICU occupancy         object
4_days_r_value_rki    object
dtype: object

In [4]:
cases_data = schedule.every().day.at("22:02").do(reading_task, api_request = cases)
boroughs_data = schedule.every().day.at("22:03").do(reading_task, api_request = boroughs)
boroughs_gen_data = schedule.every().day.at("22:04").do(reading_task, api_request = boroughs_gen)
age_groups = schedule.every().day.at("22:05").do(reading_task, api_request = age_groups)
incidence = schedule.every().day.at("22:06").do(reading_task, api_request = incidence)

while True:
    schedule.run_pending()
    time.sleep(1)

Successful response
Successful response
Successful response
Successful response
Successful response

KeyboardInterrupt:

In [ ]:
cases_data

In [ ]:
age_groups_info = requests.get(age_groups).json()

In [ ]:
df = pd.DataFrame(age_groups_info['index'])

In [ ]:
df.info()

In [ ]:
#while True:
    #for item in tab_lst:
        #response = requests.get(item)
        #print(response.json()['results'])
        #time.sleep(30)