# Project 10: Movie recommender system
Exploratory data analysis of the dataset ml-latest-small.zip extracted from the website MovieLens (http://movielens.org) that offers personalised advice on movies.

In [47]:
import pandas as pd
from datetime import datetime, timezone
from statistics import mean

In [8]:
df_movies = pd.read_csv("data/movies.csv")

In [9]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [10]:
df_ratings = pd.read_csv("data/ratings.csv")

In [23]:
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [16]:
df_tags = pd.read_csv("data/tags.csv")

In [17]:
df_tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [14]:
df_links = pd.read_csv("data/links.csv")

In [15]:
df_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [24]:
#Collecting info on the ratings and tags applied by users
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [38]:
lst_timestamp = df_ratings['timestamp'].tolist()
dict_ref_timestamp = {}
for ts in lst_timestamp:
    ref_ts = datetime.fromtimestamp(ts, timezone.utc)
    dict_ent = {ts:ref_ts}
    dict_ref_timestamp.update(dict_ent)
    

df_ratings['timestamp'].replace(dict_ref_timestamp, inplace=True)

In [39]:
df_ratings.head()

   userId  movieId  rating                 timestamp
0       1        1     4.0 2000-07-30 18:45:03+00:00
1       1        3     4.0 2000-07-30 18:20:47+00:00
2       1        6     4.0 2000-07-30 18:37:04+00:00
3       1       47     5.0 2000-07-30 19:03:35+00:00
4       1       50     5.0 2000-07-30 18:48:51+00:00

In [41]:
lst_movies= df_ratings['movieId'].tolist()

In [50]:
ratings_dict = {}
ratings_count_av_dict = {}

for movie in lst_movies:
    movie_ratings = df_ratings[df_ratings['movieId']==movie]['rating'].to_list()
    rating_count = len(movie_ratings)
    av_rating = round(mean(movie_ratings),2)
    ratings_dict.update({movie:movie_ratings})
    ratings_count_av_dict.update({movie:[rating_count, av_rating]})

In [54]:
# I create two new columns in the movies df with the count of the ratings for each movie and the average evaluation
df_movies1 = pd.DataFrame.from_dict(ratings_dict, orient='index')
df_movies2 = pd.DataFrame.from_dict(ratings_count_av_dict, orient='index')

In [ ]:
df_movies