In [88]:
import pandas as pd
from datetime import datetime
import os
import glob
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [3]:
cwd = os.getcwd()
print(cwd)
data = glob.glob(os.path.join(cwd, "data", "*.csv"))

/Users/giudittaparolini/Documents/Bootcamp/vanilla-vectors-student-code/project8_markov_chains

In [4]:
print(data)

['/Users/giudittaparolini/Documents/Bootcamp/vanilla-vectors-student-code/project8_markov_chains/data/tuesday.csv', '/Users/giudittaparolini/Documents/Bootcamp/vanilla-vectors-student-code/project8_markov_chains/data/monday.csv', '/Users/giudittaparolini/Documents/Bootcamp/vanilla-vectors-student-code/project8_markov_chains/data/thursday.csv', '/Users/giudittaparolini/Documents/Bootcamp/vanilla-vectors-student-code/project8_markov_chains/data/wednesday.csv', '/Users/giudittaparolini/Documents/Bootcamp/vanilla-vectors-student-code/project8_markov_chains/data/friday.csv']

In [5]:
df_mon = pd.read_csv('/Users/giudittaparolini/Documents/Bootcamp/vanilla-vectors-student-code/project8_markov_chains/data/monday.csv', sep = ';', parse_dates=['timestamp'])

In [6]:
df_mon.head()

            timestamp  customer_no location
0 2019-09-02 07:03:00            1    dairy
1 2019-09-02 07:03:00            2    dairy
2 2019-09-02 07:04:00            3    dairy
3 2019-09-02 07:04:00            4    dairy
4 2019-09-02 07:04:00            5   spices

In [7]:
df_mon['day']= 'Monday'

In [8]:
df_mon.head()

            timestamp  customer_no location     day
0 2019-09-02 07:03:00            1    dairy  Monday
1 2019-09-02 07:03:00            2    dairy  Monday
2 2019-09-02 07:04:00            3    dairy  Monday
3 2019-09-02 07:04:00            4    dairy  Monday
4 2019-09-02 07:04:00            5   spices  Monday

In [9]:
df_mon.dtypes

timestamp      datetime64[ns]
customer_no             int64
location               object
day                    object
dtype: object

In [10]:
df_tue = pd.read_csv('/Users/giudittaparolini/Documents/Bootcamp/vanilla-vectors-student-code/project8_markov_chains/data/tuesday.csv', sep = ';', parse_dates=['timestamp'])

In [11]:
df_tue['day']='Tuesday'

In [12]:
df_tue.head()

            timestamp  customer_no location      day
0 2019-09-03 07:02:00            1    fruit  Tuesday
1 2019-09-03 07:02:00            2   drinks  Tuesday
2 2019-09-03 07:03:00            3    dairy  Tuesday
3 2019-09-03 07:05:00            1   drinks  Tuesday
4 2019-09-03 07:06:00            4    dairy  Tuesday

In [13]:
df_wed = pd.read_csv('/Users/giudittaparolini/Documents/Bootcamp/vanilla-vectors-student-code/project8_markov_chains/data/wednesday.csv', sep = ';', parse_dates=['timestamp'])

In [14]:
df_wed['day']='Wednesday'

In [15]:
df_wed.head()

            timestamp  customer_no location        day
0 2019-09-04 07:00:00            1    fruit  Wednesday
1 2019-09-04 07:00:00            2    dairy  Wednesday
2 2019-09-04 07:00:00            3    fruit  Wednesday
3 2019-09-04 07:00:00            4    fruit  Wednesday
4 2019-09-04 07:00:00            5    dairy  Wednesday

In [16]:
df_thu = pd.read_csv('/Users/giudittaparolini/Documents/Bootcamp/vanilla-vectors-student-code/project8_markov_chains/data/thursday.csv', sep = ';', parse_dates=['timestamp'])

In [17]:
df_thu['day']='Thursday'

In [18]:
df_thu.head()

            timestamp  customer_no  location       day
0 2019-09-05 07:00:00            1    drinks  Thursday
1 2019-09-05 07:01:00            2     fruit  Thursday
2 2019-09-05 07:01:00            3     dairy  Thursday
3 2019-09-05 07:01:00            4     dairy  Thursday
4 2019-09-05 07:02:00            1  checkout  Thursday

In [19]:
df_fri = pd.read_csv('/Users/giudittaparolini/Documents/Bootcamp/vanilla-vectors-student-code/project8_markov_chains/data/friday.csv', sep = ';', parse_dates=['timestamp'])

In [20]:
df_fri['day']='Friday'

In [21]:
df_fri.head()

            timestamp  customer_no  location     day
0 2019-09-06 07:00:00            1     dairy  Friday
1 2019-09-06 07:00:00            2    drinks  Friday
2 2019-09-06 07:00:00            3     fruit  Friday
3 2019-09-06 07:01:00            2  checkout  Friday
4 2019-09-06 07:01:00            4    drinks  Friday

In [22]:
df_list = [df_mon, df_tue, df_wed, df_thu, df_fri]

In [23]:
df = pd.concat(df_list, ignore_index=True)

In [24]:
df.head()

            timestamp  customer_no location     day
0 2019-09-02 07:03:00            1    dairy  Monday
1 2019-09-02 07:03:00            2    dairy  Monday
2 2019-09-02 07:04:00            3    dairy  Monday
3 2019-09-02 07:04:00            4    dairy  Monday
4 2019-09-02 07:04:00            5   spices  Monday

In [25]:
df.shape

(24877, 4)

In [26]:
df.to_csv("customers_all.csv", index=False)